/* ----- fuentes ----- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* ----- variables ----- */

:root {
    --dark: #252525;
    --mustard: #ffa400;
    --pepperoni: #fc2933;
    --light: #ffffff;
    --gradient-colors: #ffa100, #fb103d;
}

/* ----- estilos ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #131415;
}

header {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 60px
}

.navBar span {
    color: var(--light);
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.navBar li {
    cursor: pointer;
}

.cartContainer {
    position: relative;
}

.homeIcon, .userIcon {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF9300 101.53%);
}

.cartIcon {
    background: linear-gradient(98.81deg, #FF9300 -0.82%, #FF9300 101.53%);
}

.homeIcon, .cartIcon, .userIcon {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.cartBubble {
    position: absolute;
    top: -5px;
    left: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    width: 13px;
    height: 13px;
    background-color: var(--pepperoni);
    border: 1px solid var(--light);
    border-radius: 50%;
    font-size: 9px;
    color: var(--light);
    font-weight: 400;
}
.hero{
    padding: 30px;
    display: flex;
    background-color: #131415;
    color: var(--light);
    justify-content: flex-start;
    align-items: center;
}
.hero-text{
    padding-left: 100px;
}
.hero-text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1500;
    font-size: 60px;
    line-height: 131.02%;
    padding-bottom: 5px;
}
.hero-text h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1500;
    font-size: 45px;
    line-height: 131.02%;
    padding-bottom: 5px;
}
.hero-text p{
    font-family: 'Montserrat';
    padding-bottom: 50px;
}
.hero-text input{
    font-family: 'Montserrat';
    color: var(--light);
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
    height: 50px;
    width: 166px;
}
.hero-img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pizzauno{
    position: absolute;
    height: 205px;
    width: 205px;
    top: -110px;
    left: 800px;
    right: 0;
    bottom: 0;
}
.pizzados{
    position: absolute;
    height: 275px;
    width: 305px;
    z-index: 2;
    top: -180px;
    left: 890px;
    right: 0;
    bottom: 0;
}
.recomendaciones{
    padding-left: 130px;
}
.recomendaciones p{
    font-family: 'Montserrat';
    padding-bottom: 50px;
    color: var(--light);
}
footer{
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: absolute;
    bottom:0;
    width: 100%;
   
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
}
.footerlinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlinks ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.footerlinks ul li a:visited{
    color: var(--light);
}
.footerfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
}
.footerfinal span{
    font-size: 20px;
    font-weight: 800;
}
